
* {
    /*font: 12px sans-serif;*/
    font-family: Aileron;
}

body {
    margin: 0;
}

#home {
    background-image: url("imagens/FUNDO.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
}

.botao {
    /*  width: 209.9px;
    height: 57.1px;*/
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #98ca3f;
    color: white;
}

header>nav {
    float: right;
}

header>nav>a {
    /*padding: 25px 10px;*/
    text-decoration: none;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}

header>nav>a:hover:after {
    width: 49.3px;
    height: 0;
    border: solid 3px #ffffff;
}

header {
    margin-top: 25px;
    height: 80px;
}

section {
    text-align: center;
}

.logomarca {
    width: 30%;
}

section>figure {
    float: left;
}

#diferenciais>figure {
    width: 300px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
    padding: 10px;
}

.retangulo-depoimento {
    width: 100%;
    height: 900px;
    background-color: #98ca3f;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.foto-depoimento {
    width: 456.5px;
    /* eu inventei essas medidas , certo?*/
    height: 540.4px;
}

.texto-depoimento {
    width: 421px;
    height: 366px;
    font-family: Aileron;
    font-size: 28px;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #182c3f;
}

.slider-seletor-ativo {
    width: 78.8px;
    height: 9.2px;
    border-radius: 5.5px;
    background-color: #182c3f;
}

.slider-seletor-inativo {
    width: 78.8px; /*largura do meu elemento*/
    height: 9.2px;
    border-radius: 5.5px;
    background-color: #ffffff;
}

footer {
    font-family: Aileron;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #54565a;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.icones-rodape {
    width: 24px;
}




/* * {
    font: 12px sans-serif;
}

body{
    background-image: url("imagens/FUNDO.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;

}

h1 {
    font-size: 12px;
}

.botao {
    width: 115px;
    height: 25px;
    background: #99cc41;
    text-align: center;
    border-radius:  5px;
    color: white;
    display:inline-block;
    padding: 8px 0px 0px 0px;
    font-weight: bold;
}

header{
    margin-top: 25px;
    height: 80px;
}

header > nav{
    float: right;
}

header > nav > a{
    padding: 25px 10px;
    text-decoration: none;
    color: #000;
}

section {
    text-align: center;
    height: 500px;
}

section#logo{
    height: 350px;
    text-align: center;
}

section > figure{ 
    float: left;
    margin: 129px 31px 0px 211px;
}

.logomarca{
    width: 30%;
}

footer{
    height: 150px;
    background-image: url("imagens/logob.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;

}

.politicas{
    text-align: left;
}

.sociais{
    text-align: right;
} */